.cap {
  padding: 20px 40px;

  .active-cap {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    height: auto;
    margin-top: 20px;

    .graph {
      flex: 1.4;
      border: 1px solid #d9dade;
      height: 320px;
      border-radius: 5px;
    }

    .default {
      flex: 1;
      border: 1px solid #d9dade;
      height: 320px;
      border-radius: 5px;

      .default-value {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #eef0f6;
        padding: 15px;
        height: 75px;

        .fuel {
          display: flex;
          align-items: center;
          gap: 0.4rem;
          margin-bottom: 6px;

          .fuel-img {
            background: rgba(226, 92, 92, 0.106);
            padding: 4px;
            border-radius: 3px;
            img {
              width: 25px;
            }
          }

          h2 {
            font-size: 16px;
            color: #1e1e1e;
            font-weight: 600;
            line-height: 1.1;
            letter-spacing: 0.4px;
          }
        }

        h2 {
          color: #a7a8a8;
          font-size: 15px;
          text-transform: capitalize;
          font-weight: 400;
        }
      }

      .overall {
        padding: 20px 15px 0 15px;

        h2 {
          font-size: 15px;
          color: #474f54;
          text-transform: capitalize;
          font-weight: 400;
          letter-spacing: 0.4px;

          span {
            margin-left: 8px;
            font-size: 20px;
            color: #1e1e1e;
            font-weight: 600;
          }
        }

        .paid {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          height: 200px;

          h5 {
            color: #474f54;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0.5px;
            margin-bottom: 6px;
          }

          h1 {
            font-size: 30px;
            color: #1e1e1e;
            font-weight: 700;
            letter-spacing: 0.2px;
            line-height: 1.3;
          }

          .paid-amount {
            margin-top: 6px;
            p {
              display: flex;
              align-items: center;
              font-size: 14px;
              color: #1db385;
              font-weight: 400;

              span {
                color: #a0aec0;
                margin-left: 8px;
              }

              .arrow {
                font-size: 20px;
              }
            }
          }
        }
      }
    }

    .gig-cap {
      flex: 1;
      border: 1px solid #d9dade;
      height: 320px;
      border-radius: 5px;
    }
  }
}



@media screen and (max-width: 600px) {
  .cap {
    padding: 15px;
    margin-top: 15px;
  }
  .cap .active-cap {
    flex-basis: 20%;
    flex-wrap: wrap;
  }

  .cap .active-cap .default {
    height: auto;
    border-radius: 4px;
  }
  .cap .active-cap .gig-cap {
    height: auto;
    border-radius: 4px;
  }

  .cap .active-cap .default .default-value .fuel h2 {
    font-size: 14px;
  }
  .cap .active-cap .default .default-value h2 {
    color: #a7a8a8;
    font-size: 13px;
  }
  .cap .active-cap .default .overall h2 {
    font-size: 13px;
  }
  .cap .active-cap .default .overall h2 span {
    margin-left: 6px;
    font-size: 18px;
  }

  .cap .active-cap .default .overall .paid h1 {
    font-size: 18px;
  }
}



@media screen and (max-width: 480px) {
  .cap {
    padding: 5px;
    margin-top: 10px;
    width: 100%;
  }
  .cap .active-cap {
    flex-direction: column;
  }

  .cap .active-cap .default {
    height: auto;
    width: auto;
  }

  .cap .active-cap {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    height: auto;
    margin-top: 20px;
  }
}
